@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


:root{
    --primary-color: #f60f20;
    --secondary-color: #1b206e;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    font-family: poppins, sans-serif;
    color: #000;
    font-weight: 200;
    overflow: none;
}

.logo{
    position: absolute;
    top: 30px;
    left: 90px;
    cursor: pointer;
    font-size: 2rem;
    z-index: 20;
}

.logo img{
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 100px;
    width: 50%;
    height: 50%;
    
}

section{
    display: flex;
    flex-direction: column; 
    height: 100vh;
    align-items: center;
    padding: 100px;
    margin-top: 60px;
}

section.home{
    flex-direction: row;
    margin-top: 0;
}

form .hidden{
    visibility: hidden;
    height: 0;
}

/* toggle */
.toggle{
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: var(--primary-color) url(../images/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 20;
    cursor: pointer; 
}

.toggle.active{
    color: #fff;
    background: var(--primary-color) url(../images/close.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center; 
}

/* navigation */
.nav{
    position: fixed;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    background:#fff;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav.active{
    left: 0;
}

.nav ul{
   position: relative; 
}

.nav ul li{
    position: relative;
    list-style: none;
    text-align: center;    
}

.nav ul li a{
    text-decoration: none;
    font-size: 2.2rem;
    color: #111;
    font-weight: 400;
}

.nav ul li a:hover{
    color: var(--primary-color);
}

.nav .social-icons{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.5);
    margin: 10px;
    padding: 20px;
}

.nav .social-icons a{
    display: inline-block;
    transform: scale(0.5);
    
}

.nav .social-icons ul li img:hover{
    transform: scale(1.5);
}

.nav .social-icons .email-icon{
    position: absolute;
    bottom: 20px;
    transform: scale(1);
}

.nav .social-icons .email-icon:hover{
    transform: scale(1.5);
}

p{
    margin: 20px 0 30px; 
    font-size: 1.5rem;
}

.btn{
    display: inline-block;
    background: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    padding: 10px 30px; 
    margin: 10px 0;
}

.btn:hover{
    transform: scale(0.8);
    transition: 0.2s;
}

/* Home Page */
.home-image{
    max-width: 600px;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 5;
}

.home-content{
    position: relative;
    max-width: 700px;
    z-index: 10;
    color: #000;
    padding-top: 50px;
    margin: 5px 20px;
}

h1{
    
    font-weight: 700;
    font-size: 2.2em;
    line-height: 2em;   
    padding-top: 30px;
}

h2{
    padding-top: 30px;
    font-size: 1.8em;
    font-weight: 800;
}

h3{
    font-weight: 600;
    font-size: 2.5em;
}

/* Contact */
.contact{
    position: relative;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.contact-form{
    position: relative;
    background: #f9f9f9;
    width: calc(100% - 400px);
    padding: 60px 40px 20px;
}

.contact-form form{
    width: 100%;
}

.contact-form .row{
    width: 100%;
    display: flex;
}

.contact-form .input50{
    width: 50%;
    margin: 0 10px;
}
.contact-form .input100{
    width: 100%;
    margin: 0 10px;
}
.contact-form .row input,
.contact-form .row textarea{
    position: relative;
    border: 1px solid rgba(0,0,0,0.2);
    color: #111;
    background: transparent;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
    resize: none;
}

.contact-form .row textarea{
    height: 150px;
}

.contact-form .row input[type="submit"]{
    background-color: var(--primary-color);
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    cursor: pointer;
}

.contact-form .row input[type="submit"]:hover{
    background: #fff;
    color: var(--primary-color);
    border: 1px solid #000;
}

.contact-info{
    width: 350px;
    background: #f9f9f9;
    padding: 60px 40px 20px;
}

.contact-info .info-box{
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.contact-info .info-box .contact-icon {
    width: 20px;
    margin-right: 40px;
}

.contact-info .info-box .details h4{
    color: var(--secondary-color);

}
.contact-info .info-box .details p,
.contact-info .info-box .details a{
    color: #111;
}

.error{
    background: var(--primary-color);
    color: #fff;
    padding: 5px;
    margin: 5px;
}
.success{
    background: var(--secondary-color);
    color: #fff;
    padding: 5px;
    margin: 5px;
}

/* Services Page */
.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: center;
    padding-top: 20px;
    
}

.services .service .icon img{
    transform: scale(0.5);
}

.services .service{
    text-align: center;
    padding: 30px;
  
}

.services .service h3{
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
    color: var(--secondary-color);
}

.services .service p{
    font-size: 1.3em;
    text-align: start;
}

.services .service:hover{
    box-shadow: 0 10px 30px  var(--secondary-color);
    border: 1px solid var(--secondary-color); 
}

/* Partners */
.partner{
    display: grid; 
    grid-template-columns: repeat(2, 1fr);  
    margin: auto;
    padding-top: 20px;
}

.partner-img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    margin: auto;
    z-index: -5;
    position: relative;
    padding-top: 3rem;
}

.partner-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 20px;
}

.partner-content p{
    padding-top: 10px;
    font-size: 1.2rem;
}

/* Media */
@media (max-width: 1024px){
    h1{
        font-size: 1.5em;
    }

    h2, h3{
        font-size: 1.2em;
    }

    .services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       
    }

    .contact-form{
        width: 100%;
        padding: 30px, 30px, 20px;
    }

    .contact-form .row{
        flex-direction: column;
    }

    .contact-form .input100{
        width: 100%;
        margin: 0;
    }

    .contact-info{
        width: 100%;
        padding: 30px, 30p, 20px;

    }
    
    .partner{
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 0.5rem;
    }

    .partner-img{
        width: 100%;
        height: 100%;;
        background-size: 100px;
        background-position: cover;
        background-repeat: no-repeat;
        padding-top: 20px;
        margin: auto;  
    }

}

@media (max-width: 799px){
    .home-image{
        display: none;
        align-items: flex-start;
        margin-bottom: 10px;
        color: #fff;
        z-index: -5;
    }

    section{
        padding: 100px 40px;
        
    }

    .contact {
        flex-direction: column;
    }

    .contact-form{
        width: 100%;
        padding: 30px, 30px, 20px;
    }

    .contact-form .row{
        flex-direction: column;
    }
    .contact-form .input100{
        width: 100%;
        margin: 0;
    }

    .contact-info{
        width: 100%;
        padding: 30px, 30p, 20px;

    }
    .btn{
        bottom: 10px;
    }
    .services{
        grid-template-columns: 1fr;
    }

    .nav .social-icons .email-icon{
    bottom: 5px;
    }

}


@media (max-width: 700px) {

    .home .home-content{
        padding-top: 100px;
        /* border: 1px solid red; */
        
    }
    .partner-img{
        display: none;
        
    }

    .logo{
        top: 20px;
        left: 20px;
    }
    
    .nav .social-icons .email-icon{
        bottom: 5px;
    }
}

@media (max-width: 500px) {
    .home .home-content h1{
        padding-top: 400px;
        
    }
}
